<section id="hello">
  <p class="fz-l ta-c">Hola, soy <strong>Nahuel Sotelo</strong></p>
  <p class="ta-c">Frontend developer en <a href="http://www.schibsted.es/">Schibsted Spain</a> y Profesor de la asignatura Programación Frontend en el Master de <a href="http://www.baued.es/es/estudios/masters-y-posgrados/master-en-diseno-web">Diseño Web de Bau</a>.</p>

  <ul class="Social">
    <li class="Social-item">
      <a href="https://github.com/nahuelsotelo" class="Social-link Social-link--github">nahuelsotelo</a>
    </li>
    <li class="Social-item">
      <a href="https://es.linkedin.com/in/nahuelsotelo" class="Social-link Social-link--linkedin">Nahuel Sotelo</a>
    </li>
    <li class="Social-item">
      <a href="https://twitter.com/nahuelsotelo" class="Social-link Social-link--twitter">@nahuelsotelo</a>
    </li>
  </ul>
</section>

<section>
  <h2>Contenidos</h2>
  <ol class="fz-xs">
    <li>
      Box-model y sus propiedades
      <ul>
        <li>Box-model</li>
        <li>Width y Height</li>
        <li>Display</li>
        <li>Visibilty y Opacity</li>
        <li>Overflow</li>
        <li>Padding y Margin</li>
        <li>Borders</li>
      </ul>
    </li>
    <li>
      Selectores
      <ul>
        <li>Conceptos básicos</li>
        <li>Selectores básicos</li>
        <li>Combinando selectores</li>
        <li>Pseudo-clases (pseudo-classes)</li>
        <li>Especificidad (specificity)</li>
        <li>Pseudo-elementos (pseudo-elements)</li>
      </ul>
    </li>
  </ol>
</section>
