<section>
  <section>
    <h2>Combinando selectores</h2>
  </section>

  <section>
    <h3>Selector Elemento-Específico</h3>
    <p>La combinación Elemento-específico aplica una clase o un ID exclusivamente al elemento que le precede.</p>
    <p>Para ello concatenamos el selector de tipo al selector de clase omitiendo espacios entre ambos.</p>
    <hr />
    <pre><code class="hljs html" data-trim contenteditable>
<h1 class="destacado">...</h1>
<p>...</p>

<h1>...</h1>
<p class="destacado">...</p>
    </code></pre>
    <pre><code class="hljs css" data-trim contenteditable>
h1.destacado {
  color: red;
}
    </code></pre>
  </section>

  <section class="fz-s">
    <h3>Selector Descendente (Descendant selectors)</h3>
    <p>Se consigue colocando dos (o más) selectores uno de tras de otro <strong class="u-marked">separados por un espacio</strong>.</p>
    <p>El último selector de la cadena (<i>key selector</i>) es el que se aplica siempre y cuando esté contenido dentro de los selectores precedentes.</p>

    <hr />
    <pre><code class="hljs html" data-trim contenteditable>
<div id="sandwich">
  <div class="pan">
    <p class="queso">...</p>
    <p>...</p>
  </div>

  <p class="queso">...</p>
</div>
    </code></pre>

    <pre><code class="hljs css" data-trim contenteditable>
#sandwich .pan .queso {
  color: yellow;
}
    </code></pre>
  </section>

  <section>
    <p>No es necesario que los selectores descendentes sean hijos directos de sus elementos padre para que el selector se aplique.</p>
    <hr />
    <pre><code class="hljs html" data-trim contenteditable>
<div id="tupper">
  <div id="sandwich">
    <div class="pan">
      <p class="queso">...</p>
      <p>...</p>
    </div>

    <p class="queso">...</p>
  </div>
</div>
    </code></pre>

    <pre><code class="hljs css" data-trim contenteditable>
#tupper .pan .queso {
  color: yellow;
}
    </code></pre>
  </section>

  <section>
    <h3>Agrupar selectores</h3>
    <p>Podemos aplicar un mismo bloque de declaraciones a varios selectores al mismo tiempo separandolos con comas (,).</p>

    <hr />
    <pre><code class="hljs css" data-trim contenteditable>
div,
h1,
.clase,
#identificador p {
  color: yellow;
}
    </code></pre>
  </section>
</section>
