<section>
  <section>
    <h2>Conceptos Básicos</h2>
  </section>

  <section>
    <h3>Componentes de CSS</h3>
    <p>Una regla CSS se compone de dos partes:</p>
    <ul>
      <li>Un <span class="c-green">selector</span>, que indica el elemento o elementos que queremos estilar.</li>
      <li>Una <span class="c-orange">declaración o bloque de declaraciones</span>, que son las reglas de estilo que se aplicaran a los elementos que hayamos seleccionado.</li>
    </ul>
    <hr />
    <pre class="fz-m c-orange" style="box-shadow: none;">
  <span class="c-green">p</span> {
    color: red;
    font-weight: bold;</span>
  }
    </pre>
  </section>

  <section class="fz-s">
      <h3>Herencia</h3>
      <p>Los elementos HTML heredarán algunos estilos de sus elementos contenedores (parent elements), mientras no declaremos otros más específicos.</p>
      

      <p><b>No todas las propiedades CSS son hereditarias.</b> A grandes rasgos podemos asumir que aquellas referentes a estilos de texto se heredarán pero las pertenecientes al box model no.</p>
  </section>

  <section>
    <pre><code data-trim class="hljs html" contenteditable>
<p>Lorem ipsum sit amet, <strong>consectetur</strong> adipisicing
elit. <em>Consequatur</em> quidem unde vel ullam, tempora
perferendis facilis.</p>
    </code></pre>
    
    <pre><code data-trim class="hljs css" contenteditable>
p {
  color: red;
}

strong {
  color: blue;
}
    </code></pre>
    <hr>
    <p class="c-red">Lorem ipsum sit amet, <strong class="c-blue">consectetur</strong> adipisicing elit. <em>Consequatur</em> quidem unde vel ullam, tempora perferendis facilis.</p>
  </section>

  <section>
    <h3>Cascada</h3>
    <p>La "<i>cascada</i>" a la que hace referencia la C de CSS explica la manera en la que el lenguaje resuelve los conflictos entre selectores.</p>
    <p>El cliente web lee los estilos desde la primera línea del documento de manera descendente. Por esta razón si un selector aplica una regla ya exisitente en ese selector esta sera sobreescrita (siempre y cuando la especificidad sea la misma).</p>
  </section>

  <section>
    <pre><code data-trim class="hljs html" contenteditable>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio
accusamus laborum temporibus itaque quos, ipsum, est sit ipsa, soluta
aliquam modi cum maiores neque facere nesciunt, sequi corrupti quam
aspernatur.</p>
    </code></pre>
    <pre><code data-trim class="hljs css" contenteditable>
p {
  color: red;
}

p {
  color: blue;
}
    </code></pre>
    
    <hr>
    <p class="c-blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio accusamus laborum temporibus itaque quos, ipsum, est sit ipsa, soluta aliquam modi cum maiores neque facere nesciunt, sequi corrupti quam aspernatur.</p>
  </section>
</section>
