<section id="pseudo-elements">
    <section>
        <h2>Pseudo-elementos (Pseudo-elements)</h2>
    </section>

    <section>
        <p>Los <span class="c-green">pseudo-elementos</span> nos permiten estilar ciertas <strong>partes del DOM que no son accesibles mediante los selectores normales</strong>, como la primer linea de un párrafo de texto.</p>
        <p>Al igual que las pseudo-clases, son keywords que se añaden a los <span class="c-blue">selectores</span> pero separadas por dos puntos (<span class="c-red">::</span>)</p>

        <hr>
        <p class="ta-c fz-l"><span class="c-blue">selector</span><span class="c-red">::</span><span class="c-green">pseudo-elemento</span></p>

        <p class="ta-c fz-xs">[ <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-elements">Listado completo</a> ]</p>
    </section>

    <section>
        <h3 style="text-transform: none;"><code>::before / ::after</code></h3>

        <p>Nos permiten añadir un pseudo-elemento como hijo del selector designado. <code>::before</code> lo insertará al comienzo mientras que <code>::after</code> lo hará al final.</p>
        <p>El contenido lo declararemos con la propiedad CSS <code class="u-marked">content</code></p>
        <p>Ambos se utilizan para añadir contenido cosmético sin carga semántica y que por eso debe quedar fuera del HTML.</p>
    </section>

    <section class="PsElementsDemo">
        <p class="PsElementsDemo-before fz-l">¡Un gato!</p>
        <pre><code data-trim contenteditable>
/* Insertamos un gato AL COMIENZO del texto */

p::before {
    content: "(⁎˃ᆺ˂) ";
    color: #e14f24;
    font-size: .9em;
    margin-right: .5em;
}
        </code></pre>

        <hr>

        <p class="PsElementsDemo-after fz-l">¡Otro gato!</p>
        <pre><code data-trim contenteditable>
/* Insertamos un gato AL FINAL del texto */

p::after {
    content: " (≚ᄌ≚)ﾉ”";
    color: #e14f24;
    font-size: .9em;
    margin-right: .5em;
}
        </code></pre>
    </section>

    <section class="PsElementsDemo">
        <p class="fz-s">Los pseudo-elementos creados con <code>::after</code> y <code>::before</code> funcionan como si se tratara de un <code>&#060;span&#062;</code> por lo que podemos darles dimensiones, ponerles imágenes de fondo y posicionarlos normalmente.</p>

        <hr>

        <pre><code data-trim contenteditable>
p::after {
    content: "";
    background: url(../img/cat-watching.gif) no-repeat center center;
    background-size: cover;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 100px;
}
        </code></pre>

        <p class="PsElementsDemo-img fz-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, accusantium aspernatur reprehenderit in, doloribus nobis nisi quae tempora magni perspiciatis beatae!</p>
    </section>
</section>
