<section>
    <section>
        <h2>Pseudo-clases (Pseudo-classes)</h2>
    </section>

    <section>
        <p>Una <span class="c-blue">pseudo clase</span> es una keyword que se añade a un <span class="c-green">selector</span> para especificar <strong>un estado concreto del mismo</strong>.</p>
        <p>Para escribirlas insertamos dos puntos (<code class="c-red">:</code>) entre el selector y la pseudo clase.</p>
        <hr>
        <p class="ta-c fz-l"><span class="c-blue">selector</span><span class="c-red">:</span><span class="c-green">pseudo-clase</span></p>
    </section>

    <section>
        <h3 class="mb-0">Algunas pseudo-clases</h3>
        <p class="ta-c fz-xs">[ <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes">Listado completo</a> ]</p>
        <ul class="fz-s">
            <li>
                <p class="mb-xxs"><code class="c-blue">:hover</code>, <code class="c-blue">:focus</code>, <code class="c-blue">:active</code>, <code class="c-blue">:visited</code></p>
                <p>Hacen referencia al estado de un enlace.</p>
            </li>

            <li>
                <p class="mb-xxs"><code class="c-blue">:first-child</code>, <code class="c-blue">:last-child</code></p>
                <p>Seleccionan el primero y el último hijo de un elemente respectivamente.</p>
            </li>

            <li>
                <p class="mb-xxs"><code class="c-blue" contenteditable>:nth-child()</code>, <code class="c-blue" contenteditable>:nth-last-child()</code></p>
                <p>Selecciona los elementos dados en la expresión de acuerdo a su posicion en el DOM.</p>
            </li>

            <li>
                <p class="mb-xxs"><code class="c-blue" contenteditable>:checked</code>, <code class="c-blue" contenteditable>:required</code>, <code class="c-blue" contenteditable>:optional</code>, <code class="c-blue" contenteditable>:valid</code>, <code class="c-blue" contenteditable>:invalid</code></p>
                <p>Seleccionan elementos de formulario de acuerdo a los valores de sus atributos.</p>
            </li>
        </ul>
    </section>
</section>




