---

layout: global
title: 'Selectores CSS'

lesson_title: 'Introducción al CSS'

---

{% include 00-contents.html %}

<section>
  <h1>Box-model <span>y sus propiedades</span></h1>
</section>
{% include css-box-model.html %}
{% include css-width-height.html %}
{% include css-display.html %}
{% include css-visibility.html %}
{% include css-overflow.html %}
{% include css-padding-margin.html %}
{% include css-borders.html %}

<section class="fz-s">
  <h3>Links relacionados</h3>
  <ul>
    <li style="margin-bottom: .8em;">
      <strong>Box Model</strong> <i style="color: #999;"> &mdash; Guy Routledge</i>
      <br>
      <a href="http://www.atozcss.com/the-css-box-model/" style="font-size: .8em;">http://www.atozcss.com/the-css-box-model/</a>
    </li>
    <li style="margin-bottom: .8em;">
      <strong>* { Box-sizing: Border-box } FTW</strong> <i style="color: #999;"> &mdash; Paul Irish</i>
      <br>
      <a href="http://www.paulirish.com/2012/box-sizing-border-box-ftw/" style="font-size: .8em;">http://www.paulirish.com/2012/box-sizing-border-box-ftw/</a>
    </li>
    <li style="margin-bottom: .8em;">
      <strong>Hiding content for accessibility</strong> <i style="color: #999;"> &mdash; Jonathan Snook</i><br>
      <a href="http://snook.ca/archives/html_and_css/hiding-content-for-accessibility" style="font-size: .8em;">http://snook.ca/archives/html_and_css/hiding-content-for-accessibility</a>
    </li>
    <li style="margin-bottom: .8em;">
      <strong>Single-direction margin declarations</strong> <i style="color: #999;"> &mdash; Harry Roberts</i>
      <br>
      <a href="http://csswizardry.com/2012/06/single-direction-margin-declarations/" style="font-size: .8em;">http://csswizardry.com/2012/06/single-direction-margin-declarations/</a>
    </li>
    <li style="margin-bottom: .8em;">
      <strong>The Shapes of CSS</strong> <i style="color: #999;"> &mdash; CSS Tricks</i><br>
      <a href="http://css-tricks.com/examples/ShapesOfCSS/" style="font-size: .8em;">http://css-tricks.com/examples/ShapesOfCSS/</a>
    </li>
  </ul>
</section>

<section>
  <h1>Selectores</h1>
</section>
{% include css-selectors-intro.html %}
{% include css-selectors-basics.html %}
{% include css-selectors-combine.html %}
{% include css-pseudoclasses.html %}
{% include css-specificity.html %}
{% include css-pseudoelementos.html %}

<section class="fz-s">
  <h3>Links relacionados</h3>
  <ul>
    <li style="margin-bottom: .8em;">
      <strong>When using IDs can be a pain in the class...</strong> <i style="color: #999;"> &mdash; Harry Roberts</i><br>
      <a href="http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/" style="font-size: .8em;">http://csswizardry.com/2011/09/when-using-ids-can-be-a-pain-in-the-class/</a>
    </li>

    <li style="margin-bottom: .8em;">
      <strong>CSS Diner</strong><br>
      <a href="http://flukeout.github.io/" style="font-size: .8em;">http://flukeout.github.io/</a>
    </li>

    <li style="margin-bottom: .8em;">
      <strong>Hover</strong> <i style="color: #999;"> &mdash; Guy Routledge</i><br>
      <a href="http://www.atozcss.com/beginner/video/the-hover-pseudo-class/" style="font-size: .8em;">http://www.atozcss.com/beginner/video/the-hover-pseudo-class/</a>
    </li>

    <li style="margin-bottom: .8em;">
      <strong>A Whole Bunch of Amazing Stuff Pseudo Elements Can Do</strong> <i style="color: #999;"> &mdash; Chris Coyier</i><br>
      <a href="https://css-tricks.com/pseudo-element-roundup/" style="font-size: .8em;">https://css-tricks.com/pseudo-element-roundup/</a>
    </li>
  </ul>
</section>

<section id="bye">
  <h2 class="ta-c">¡Gracias!</strong></h2>
  <p class="ta-c">Preguntas, dudas, comentarios a <a href="mailto:hola@nahuelsotelo.com" style="display: block;">hola@nahuelsotelo.com</a></p>

  <ul class="Social">
    <li class="Social-item">
      <a href="https://github.com/nahuelsotelo" class="Social-link Social-link--github">nahuelsotelo</a>
    </li>

    <li class="Social-item">
      <a href="https://es.linkedin.com/in/nahuelsotelo" class="Social-link Social-link--linkedin">Nahuel Sotelo</a>
    </li>

    <li class="Social-item">
      <a href="https://twitter.com/nahuelsotelo" class="Social-link Social-link--twitter">@nahuelsotelo</a>
    </li>
  </ul>
</section>
