---

layout: global
title: 'Selectores CSS'

lesson_title: 'Introducción al CSS'

---

{% include 00-contents.html %}

<section>
    <h1>Box-model <span>y sus propiedades</span></h1>
</section>
{% include css-box-model.html %}
{% include css-width-height.html %}
{% include css-display.html %}
{% include css-visibility.html %}
{% include css-overflow.html %}
{% include css-padding-margin.html %}
{% include css-borders.html %}

<section>
    <h1>Selectores</h1>
</section>

{% include css-selectors-intro.html %}
{% include css-selectors-basics.html %}
{% include css-selectors-combine.html %}
{% include css-pseudoclasses.html %}


{% include css-pseudoelementos.html %}

<section>
  <h2 style="text-align: center;">¡Gracias!</strong></h2>
  <p style="text-align: center;">Preguntas, dudas, comentarios a <a href="mailto:hola@nahuelsotelo.com" style="display: block;">hola@nahuelsotelo.com</a></p>

  <ul class="social">
    <li><a href="https://github.com/nahuelsotelo" class="is--github">nahuelsotelo</a></li>
    <li><a href="https://es.linkedin.com/in/nahuelsotelo" class="is--linkedin">Nahuel Sotelo</a></li>
    <li><a href="https://twitter.com/nahuelsotelo" class="is--twitter">@nahuelsotelo</a></li>
  </ul>
</section>
